---
permalink: "{{ page.fileSlug | slugify }}/index.html"
---
<!doctype html>
<html lang="en" style="background-color: white;">
  {% include "partials/head.html" %}
  <body class="font-sans bg-white">
    <div class="flex flex-row flex-wrap md:flex-nowrap min-h-screen w-screen text-matte-black">
      {% include "partials/nav.html" %}
      <main class="basis-full md:basis-2/3 min-h-screen md:h-screen w-full md:overflow-y-scroll bg-white">
        <div class="max-w-prose mx-auto text-center md:text-left md:mx-0 my-12 px-6 md:px-12">
          <nav class="mb-8 md:mb-0">
            <a href="{{ '/' | url }}" class="hover:no-underline underline">Home</a> 
            <span class="px-1 opacity-75">»</span>
          {% if tID %}
            <a href="{{ '/thesauri' | url }}" class="hover:no-underline underline">Thesaurus Projects</a> 
            <span class="px-1 opacity-75">»</span>
          {% elsif record.ID %}
            <a href="{{ '/thesauri' | url }}" class="hover:no-underline underline">Thesaurus Projects</a> 
            <span class="px-1 opacity-75">»</span>
            {% assign t = collections['thesauri'] | find: 'tID', record["Thesaurus Project"] %}
            <a href="{{ '/' | url }}thesauri/{{ t.data.tID }}" class="hover:no-underline underline">{{ t.data.title }}</a> 
            <span class="px-1 opacity-75">»</span>
          {% endif %}
          </nav>
          {{ content }}
          <br>
          <br>
          <br>
        </div>
      </main>
      <footer class="md:hidden bg-bone w-full mx-auto text-center">
        <p class="font-semibold mt-6 mb-1">Preferred Citation</p>
        <p class="text-sm mb-12">The Ways of Knowing Oral History Collection. waysofknowing.org</p>
      </footer>
    </div>
  </body>
</html>