<header class="bg-bone sticky mt-0 top-0 left-auto w-full md:px-0 z-10 drop-shadow-lg">  
  <div class="flex justify-between align-middle max-w-prose px-6 md:px-12 py-4">
    
    <!-- <div class="hidden md:inline-block">
      {% unless title == 'Home' or record.ID %}
        <a href="{{ '/' | url }}" class="hover:no-underline underline">Home</a> 
        <span class="px-1 opacity-60">»</span>
      {% endunless %}
      {% if tID %}
        <a href="{{ '/thesauri' | url }}" class="hover:no-underline underline">Thesaurus Projects</a> 
        <span class="px-1 opacity-60">»</span>
      {% elsif record.ID %}
        <a href="{{ '/thesauri' | url }}" class="hover:no-underline underline">Thesaurus Projects</a> 
        <span class="px-1 opacity-60">»</span>
        {% assign t = collections['thesauri'] | find: 'tID', record["Thesaurus Project"] %}
        <a href="{{ '/' | url }}thesauri/{{ t.data.tID }}" class="hover:no-underline underline">{{ t.data.title }}</a> 
        <span class="px-1 opacity-60">»</span>
      {% endif %}
    </div> -->

    <div class="md:hidden">
      <div id="scrollToTopMobile" class="btn btn-sm bg-coffee border-none hidden text-white hover:bg-linen hover:text-coffee">⇧</div>
    </div>
    <div class="hidden md:inline">
      <div id="scrollToTopDesktop" class="btn btn-sm bg-coffee border-none hidden text-white hover:bg-linen hover:text-coffee cursor-pointer">⇧</div>
    </div>
  </div>
</header>


<script>
  var btnScrollToTopDesktop = document.querySelector("#scrollToTopDesktop");
  var btnScrollToTopMobile = document.querySelector("#scrollToTopMobile");
  var main = document.querySelector("main");
  // var mobileMenuBtn = document.querySelector("button.navbar-burger");
  // var mobileMenu = document.querySelector(".mobile-menu");

  // mobileMenuBtn.addEventListener("click", () => {
  //   mobileMenu.classList.toggle("hidden");
  // });

  btnScrollToTopDesktop.addEventListener("click", e => {
    main.scrollTo({
      top: 0,
      left: 0,
      behavior: "smooth"
    });
  });
  main.addEventListener('scroll', e => {
    if (e.target.scrollTop > 200) {
      btnScrollToTopDesktop.classList.remove('hidden');
    } 
    else {
      btnScrollToTopDesktop.classList.add('hidden');
    }
  });

  btnScrollToTopMobile.addEventListener("click", e => {
    window.scrollTo({
      top: 0,
      left: 0,
      behavior: "smooth"
    });
  });
  window.addEventListener('scroll', e => {
    if (window.scrollY > 200) {
      btnScrollToTopMobile.classList.remove('hidden');
    } 
    else {
      btnScrollToTopMobile.classList.add('hidden');
    }
  });

  document.getElementById('tpSelector').addEventListener("change", (event) => {
    var baseurl = "{{ '/' | url }}";
    var url = `${baseurl}thesauri/${event.target.value}`;   
    window.open(url, '_parent');
  });
</script>