<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width, viewport-fit=cover">
  <title>{{ record.Title | default: title }} | {{ site.title }}</title>
  <meta name="description" content="{{ description | default: site.description }}">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ record.Title | default: title }}  | {{ site.title }}">
  <meta property="og:description" content="{{  description | default: site.description }}">
  <!-- <meta property="og:image" content="{{ img | default: '/assets/og-img.png' | url }}"> -->
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{ site.url }}">
  <meta property="twitter:url" content="{{ site.url }}">
  <meta name="twitter:title" content="{{ record.Title | default: title }}  | {{ site.title }}">
  <meta name="twitter:description" content="{{  description | default: site.description }}">
  <!-- <meta name="twitter:image" content="{{ img | default: '/assets/og-img.png' | url }}"> -->
  <link href="{{ '/css/styles.css' | url }}" rel="stylesheet">
  <link rel="icon" href="{{ '/assets/favicon.png' | url }}" type="image/png">
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js" defer></script>
</head>
<!-- Google tag (gtag.js) -->
<!-- TO DO -->
