@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.font-sans-700 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-sans-300 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.font-sans-100 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#caret {
  transition: transform 0.15s ease-in-out;
}


.wavy {
  background: rgb(152,110,66);
  background: linear-gradient(90deg, rgba(152,110,66,1) 0%, rgba(244,235,225,1) 100%); 

  --mask:
    radial-gradient(13.66px at 50% calc(100% + 6px),#0000 calc(99% - 4px),#000 calc(101% - 4px) 99%,#0000 101%) calc(50% - 20px) calc(50% - 7px + .5px)/40px 14px repeat-x,
    radial-gradient(13.66px at 50% -6px,#0000 calc(99% - 4px),#000 calc(101% - 4px) 99%,#0000 101%) 50% calc(50% + 7px)/40px 14px repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.halftone {
  filter: saturate(0) brightness(2) contrast(2.5) opacity(0.8);
  -webkit-filter: saturate(0) brightness(2) contrast(2.5) opacity(0.8);
}

.halftone::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-size: 8px 7px, 8px 7px;
  background-position: 0, 4px 1px;
  background-image: radial-gradient(circle, #404040, rgba(255, 255, 255, 0) 60%), radial-gradient(circle, #404040, rgba(255, 255, 255, 0) 60%);
  mix-blend-mode: multiply;
}